* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	padding: 2rem;
	font-family: 'Abel', sans-serif;
	color: #fff;
	overflow-x: hidden;
	background-color: #191919;
}

header {
	margin-bottom:.5rem;
	text-align: center;
}

@media (min-width: 40em) {
	header {
		margin-bottom: 2rem;
	}
}

section {
	position: relative;
}

h1 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 4.5em;
	color: #fff;
	animation: giphy-color 10s infinite alternate;
}

h2 {
	width: 100%;
	max-width: 20em;
	margin: 0 auto 1em;
	padding-top: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
	color: #eee;
	border-top: 1px solid #383838;
}

h2 .tag {
	animation: giphy-color .5s infinite alternate;
}

h3 {
	margin: .2em 0;
	font-size: 1.2em;
	font-weight: normal;
	color: #eee;
}

p {
	float: left;
	width: 100%;
	text-align: center;
	color: #fff;
}

p.hint {
	margin-bottom: 1.6em;
}

a {
	text-decoration: none;
	color: #fff;
}

nav ul {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
	margin: 0 .5em;
}

nav a {
	font-size: 1.2em;
	animation: giphy-color 10s infinite alternate;
}

nav a.current {
	animation: giphy-color 1.5s infinite alternate;
}

form {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	float: left;
	width: 100%;
	margin: 0 auto .75rem;
	padding: 0;
}

@media (min-width: 40em) {
	form {
		margin: 0 auto 2rem;
		padding: 0 20%;
	}
}

form > * {
	float: left;
	height: 3em;
	padding: 1em;
	font-size: 1.1em;
	border: none;
}

form [type="search"], textarea {
	width: 100%;
	min-height: 10rem;
}

@media (min-width: 40em) {
	form[type="search"], textarea {
		width: 75%;
	}
}

textarea {
	padding: 1em;
	font-family: 'Helvetica', sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
	resize: vertical;
}

form [type="submit"] {
	width: 100%;
	height: 4rem;
	cursor: pointer;
	background-color: #fff;
	border-top: 1px solid #191919;
}

@media (min-width: 40em) {
	form [type="submit"] {
		width: 25%;
		height: 10rem;
		border-top: none;
		border-left: 1px solid #191919;
	}
}

#loader {
	text-align: center;
	animation: giphy-color .5s infinite alternate;
}

.control {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	padding: 0;
}

.control li {
	display: block;
	margin: 0 2rem 2rem;
	list-style-type: none;
}

@media (min-width: 40em) {
	.control li {
		margin: 0 2rem 0;
	}
}

.control li:last-of-type {
	margin-bottom: 0;
}

.control label {
	display: block;
	margin-bottom: .5em;
	position: relative;
	cursor: pointer;
}

.control select, .control option {
	padding: .5em;
	font-size: 1.1em;
	color: #fff;
	cursor: pointer;
	border: none;
}

.control select {
	background-color: #383838;
}

.control option {
	background-color: #282828;
}

.control #filter {
	margin-left: 4rem;
}

.control #filter span::before, #filter span::after {
	position: absolute;
	top: 0;
	left: -2rem;
}

.control #filter span::before {
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	content: "";
	border-radius: .25rem;
	background-color: #383838;
}

.control #filter span::after {
	top: -1.2rem;
	font-size: 2rem;
	color: #fff;
	content: "✔";
	opacity: 0;
	transition: .2s ease;
}

.control #filter [type="checkbox"] {
	display: none;
}

.control #filter [type="checkbox"]:checked + span::after {
	opacity: 1;
	animation: giphy-color .5s infinite alternate;
}

#results {
	width: 100%;
	padding: 0;
}

#results > li {
	display: block;
	width: 100%;
	max-width: 50rem;
	margin: 0 auto 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #fff;
}

#results > li:last-of-type {
	border-bottom: none;
}

#results ul, #synonyms {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0;
}

#results ul li, #synonyms li {
	position: relative;
	display: block;
	max-width: 15rem;
	margin: 1rem;
	font-size: 2.4em;
	list-style-type: none;
}

#results ul li.hidden, #synonyms li.hidden {
	display: none;
}

#synonyms li {
	max-width: initial;
	height: 10rem;
}

#results img {
	width: 100%;
}

#synonyms img {
	height: 100%;
}

#results .gif, #synonyms .gif {
	cursor: pointer;
}

#results .label, #synonyms .label {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: .5em 2em;
	font-size: 1.4rem;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, .25);
	transform: translate(-50%, -65%);
}

#feedback {
	position: fixed;
	top: 2em;
	right: 0;
	max-width: 80%;
	padding: .5em 1em;
	font-size: 1.4em;
	font-weight: bold;
	color: #191919;
	border-radius: .5em 0 0 .5em;
	box-shadow: 0em 0.25em 0.25em rgba(0,0,0,.25);
	transform: translateX(100%);
	transition: .2s ease;
}

#feedback.active {
	transform: translateX(0);
}

#feedback.positive {
	background-color: #0f9;
}

#feedback.negative {
	background-color: #f66;
}

.hidden {
	display: none;
}

@keyframes giphy-color {
	20% {
		color: #00ff99;
	}
	40% {
		color: #fff35c;
	}
	60% {
		color: #ff6666;
	}
	80% {
		color: #00ccff;
	}
	100% {
		color: #7d7fe8
	}
}